* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --text-aligning: center;
    --height: auto;
}


nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right; /* 😊keeps it floated */
    margin-left: 15px; /* adds spacing btwn text and images */
    margin-bottom: 10px; /* optional; space below image */
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

ul {
    list-style-position: inside; /* bullets + text stay inside the box */
    padding-left: 0; /* remove extra gap */
    margin: 0; /* reset default margins */
}

li {
    text-indent: 1em;/* pull text back towards the bullets */
    padding-left: 1em;/* balances spacing */
}

aside {
    width: 20em;
    text-align: var(--text-aligning);
    position: relative;

}

aside img {
    width: 200px;
    height: var(--height);
    display: block;
    margin: 0 auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid black;
    text-align: var(--text-aligning);
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
     text-align: var(--text-aligning);
}

/* clear fix so p is around the floated image */
.intro::after{
    content: "";
    display: table;
    clear: both;
}