* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --text-alligning: centre;
    --height: auto;
}


nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 200px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 20em;
    text-align: var(--text-alligning);

}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 2rem;
    border-top: 1px solid black;
    text-align: var(--text-alligning);
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
     text-align: var(--text-alligning);
}